@using Instaclone.Models
@using Instaclone.ViewModels
@using Microsoft.AspNet.Identity
@model Instaclone.ViewModels.ExploreViewModel
@{
    ViewBag.Title = "Explore";
}

<h2>Explore</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

<div class="container--explore">

    <div class="row">
        
        @foreach (var post in Model.Posts)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <a>@post.User.Name</a>
                        @if (Model.Followees.Contains(post.UserId))
                        {
                            <p class="text-black-50">Following</p>
                        }
                        else if (post.UserId != User.Identity.GetUserId())
                        {
                            @Html.ActionLink("Follow", "Follow", "Follows", new { followeeId = post.User.Id }, new { @class = "text-primary" })
                        }
                    </div>
                    @{ Html.RenderPartial("_PostCardBody", new CardBodyViewModel { Post = post }); }
                </div>
            </div>
        }
    </div>

</div>