@using Instaclone.Models
@using Instaclone.ViewModels
@using Microsoft.AspNet.Identity
@model Instaclone.ViewModels.ExploreViewModel
@{
    ViewBag.Title = "Explore";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info" id="success-alert">
        @TempData["Message"]
    </div>
}

<h2>Explore</h2>

<div class="container--explore">

    <div class="row">

        @foreach (var post in Model.Posts)
        {
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <a>@post.User.Name</a>
                        @if (Model.Followees.Contains(post.UserId))
                        {
                            <p class="text-black-50">Following</p>
                        }
                        else if (post.UserId != User.Identity.GetUserId())
                        {
                            @Html.ActionLink("Follow", "Follow", "Follows", new { @followeeId = post.User.Id, @actionName = "Explore", @postId = post.Id }, new { @class = "text-primary" })
                        }
                    </div>
                    @{ Html.RenderPartial("_PostCardBody", new PostCommentViewModel { Post = post }); }
                </div>
            </div>
        }
    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#success-alert").fadeTo(3000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
        });
    </script>
}