@model IEnumerable<Instaclone.Models.Post>
@{
    ViewBag.Title = "Explore";
}

<h2>Explore</h2>

<div class="container--explore">

    <div class="row">
        @foreach (var post in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        @post.User.UserName
                    </div>
                    <div class="card-body">
                        <img class="img-thumbnail" src=@post.ImageSrc alt="" />
                        <div class="card-text">
                            <p class="card-date">@post.DateTime.ToString("dd-MM-yyyy")</p>
                            <p class="card-description">@post.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>