@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>Instaclone</h1>
            <p class="lead">Share your journey to people <br />all around the world.</p>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Explore »", "Explore", "Posts", null, new { @class = "btn btn-primary btn-lg btn-home" })
            }
            else
            {
                @Html.ActionLink("Sign up here »", "Register", "Account", null, new { @class = "btn btn-primary btn-lg btn-home" })
            }
        </div>
        <div class="col-md-6">
            <img width="500px" src="https://source.unsplash.com/tXiMrX3Gc-g" alt="" />
        </div>
    </div>
</div>