<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9eb14fc7-8f42-45be-9743-d7b2b87b512b/resourcegroups/Instaclone/providers/Microsoft.Web/sites/InstacloneDev</ResourceId>
    <ResourceGroup>Instaclone</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://instaclonedev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>instaclonedev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InstacloneDev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$InstacloneDev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:instaclonedbserver.database.windows.net,1433;Initial Catalog=Instaclone_db;User ID=sshimabuku@instaclonedbserver;Password=duntM3shwitm" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Instaclone.Models.ApplicationDbContext, Instaclone" MigrationConfiguration="Instaclone.Migrations.Configuration, Instaclone" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:instaclonedbserver.database.windows.net,1433;Initial Catalog=Instaclone_db;User ID=sshimabuku@instaclonedbserver;Password=duntM3shwitm</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>