@model IEnumerable<Instaclone.Models.ApplicationUser>
@{
    ViewBag.Title = "Following";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

<h2>Following</h2>

<div class="container--followees">

    @foreach (var followee in Model)
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <a>@followee.Name</a>
                    <button class="btn btn-sm btn-outline-danger" onclick="location.href='@Url.Action("Unfollow", "Follows", new { @followeeId = followee.Id})'">Unfollow</button>
                </div>
            </div>
        </div>
    }

</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#success-alert").fadeTo(3000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
        });
    </script>
}