body {
    padding-top: 84px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap overrides */
.field-validation-error {
    color: red;
}

.jumbotron {
    background: #f8f8f8;
}

.bg-dark {
    background: #dc2071 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #eaeaea;
}

.btn.btn-default,
.btn.btn-primary {
    color: #eee;
    background: #dc2071 !important;
    border-color: #dc2071;
}


.btn.btn-default:hover,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-default:focus {
    background: #be155e;
}

.btn.btn-outline-primary {
    border-color: #dc2071;
    color: #dc2071;
}

.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:focus {
    background: #dc2071;
    color: #eee;
}

.card {
    border-color: #fafafa;
    background: #fafafa;
}

.card-header {
    background: #fafafa;
    border-bottom: 2px solid #f1f1f1;
}

input, textarea {
    background: #fafafa !important;
    border-color: #fafafa !important;
}

.alert.alert-info {
    background: #dc2071;
    color: #fafafa;
    border-color: #fafafafa;
}

/* Site styles */
body {
    color: #4e4e4e;
    background: #f3f3f3;
}

h2 {
    color: #dc2071;
}

a {
    color: #dc2071;
}

a:hover {
    cursor: pointer;
}

.container--explore {
    color: #4e4e4e;
}

.container--explore .card,
.container--feed .card {
    margin-top: 2em;
}

.container--explore .card-header,
.container--profile .card-header,
.container--post-details .post--user {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.container--post-details .post--user {
    border-bottom: 1px solid #333333;
    padding-bottom: .75em;
}

.container--post-details .card-description {
    margin: 1em 0 0;
}

.container--post-details .card-date {
    margin-top: 0;
}

.container--explore .card-header p,
.post--user p {
    margin-bottom: 0;
}

.card-date,
.comment-date {
    color: #666;
    font-size: 14px;
    margin: 1em 0;
}
.card-check-comments {
    font-size: .9rem;
}


.container--followees .row,
.container--followers .row {
    margin-top: 2em;
}

.container--followees .card  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.container--followees .card,
.container--followers .card {
    padding: 1em;
    background: #fafafa;
    border: none;
}

.container--profile .btn {
    margin-top: 1.5em;
}

.container--profile .posts{
    margin-top: 2em;
}

.container--profile .posts > * {
    margin-bottom: 2em;
}

.card .card-comment form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .card-comment form .form-group {
    margin-bottom: 0;
    width: 100%;
}

.card .card-comment .form-control {
    max-width: 95%;
    border: none;
}

.col-sm-8 .card .card-comment .btn {
    padding: .5em 2em;
}

.card .card-comment .form-control:focus {
    box-shadow: none;
}

.container--post-details .card {
    padding: 1rem;
}

.container--post-details .card-body {
    padding: 0 2rem;
}

.comment + .comment {
    margin-top: 1em;
}

.card-user,
.comment-user {
    font-weight: bold;
}


.comment-user {
    margin-right: 0.5em;
}

.comment-description,
.comment-date {
    margin: 0;
}

.btn-home {
    border: none;
    background: #dc2071;
}

.jumbotron h1 {
    color: #dc2071;
    margin-bottom: .5em;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.75;
    margin-bottom: 1.5em;
    color: #333333;
}

.jumbotron img {
    border-radius: 5px;
    max-width:100%;
}

.btn-home {
    margin-bottom: 2em;
}

.btn-home:hover,
.btn-home:focus {
    background: #be155e;
}

.container--post-details .card {
    margin-top: 2em;
    background: #f8f8f8;
    border-color: #f8f8f8;
}

.container--post-details input {
    background: #f8f8f8;
}

.container--header {
    background: #f8f8f8;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.header--left {
    width:75%;
}

.header--left h2 {
    margin-bottom: 1.75em;
}

.header--left .btn {
    padding: .75em 3.5em;
}

.header--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.header--right .btn +.btn {
    margin-top: 1em;
}


.input-group-append {
    z-index: 3;
    margin-left:-2.65em;
}